* {
	margin: 0;
	padding: 0;
}

:root {
	--main-color: black;
	--secondary-color: rgb(177, 219, 247);
	--navbar-height: 80px;
}


@font-face {
	font-family: "Soleil";
	src: url("../fonts/sans/soleil/Soleil-Regular.otf");
	font-weight: 400;
}

@font-face {
	font-family: "Soleil";
	src: url("../fonts/sans/soleil/Soleil-Light.otf");
	font-weight: 300;
}

@font-face {
	font-family: "Soleil";
	src: url("../fonts/sans/soleil/Soleil-Bold.otf");
	font-weight: 600;
}

@font-face {
	font-family: "Soleil";
	src: url("../fonts/sans/soleil/Soleil-Book.otf");
	font-weight: 500;
}

body {
	font-family: "Soleil";
	font-weight: 300;
	position: relative;
}

#navbar {
	height: var(--navbar-height);
	background-color: rgb(0, 0, 0);
	color: white;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, .3);
	position: fixed;
	width: 100%;
	z-index: 100;
}

#bumper {
	height: var(--navbar-height);
}

.navbaritem {
	display: inline-block;
	cursor: pointer;
	width: 150px;
	font-size: 20px;
	height: var(--navbar-height);
	line-height: var(--navbar-height);
	text-align: center;
	transition: .2s ease;
}

.navbaritem:hover {
	color: grey;
}

#bannermain {
	margin: 60px auto;
	margin-top: 0px; 
	text-align: center;
	width: 100%;
	background-color: var(--secondary-color);
	padding-top: 60px;
	height: 300px;
}

h1 {
	font-weight: 400;
	font-size: 100px;
	font-family: 'Tinos', serif;

}

#explain {
	font-size: 25px;
}

#episodes {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: -160px;
}

.episode {
	width: 200px;
	height: 200px;
	background-color: rgb(0, 11, 58);
	display: inline-block;
	margin-right: 6%;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, .3);
	opacity: 0;
}

.title {
	color: white;
	font-size: 30px;
	margin-top: calc(calc(200px / 2) - 23px );
}

.rightfade {
	animation-name: rightfade;
	animation-duration: .6s;
	animation-timing-function: ease in-out;
	animation-fill-mode: both;
}

@keyframes rightfade {
	from {
		transform: translate(0px,80px);
		opacity: 0;
	}
	to {
		transform: translate(0px,0px);
		opacity: 1;
	}
}